/* Utility */
.hidden {
  display: none;
}

body,
h4 {
  line-height: 1.6rem;
}

/* Table Section */

.volume {
  font-size: 1rem;
}

.description {
  font-weight: 525;
}

.table {
  margin-top: 2vh;
  box-shadow: 0 0.125rem 0.063rem 0.063rem lightgray;
}

.table-header {
  font-weight: bolder;
  font-size: 1.313rem;
  font-family: Roboto, sans-serif;
}

.big-three-header {
  text-align: center;
}

.table-holder {
  justify-content: center;
}

.fas {
  font-size: 1rem;
  padding: 0.375rem;
  color: #2e64b0;
}

.fas-compare {
  color: #017bff;
}

/* Navbar */

.navbar {
  justify-content: space-around;
}

.main-nav-header {
  font-weight: 895;
  font-size: 1.12rem;
  font-family: "Trebuchet MS", sans-serif;
}

.table-creator,
.comparison-creator {
  cursor: pointer;
}

/* Forms */

.form-wrapper,
.warning-wrapper,
.alert-package {
  justify-content: center;
  margin-top: 3vh;
}

.form-background {
  background-color: white;
  padding-top: 0.438rem;
  padding-bottom: 1rem;
}

.the-button {
  justify-content: space-around;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Alerts */

.alert-dismissible .close {
  z-index: 0;
}

.warning-message {
  text-align: center;
  font-family: Roboto, sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
